parameters:

services:
    presta_cms.page.controller:
        class: Presta\CMSCoreBundle\Controller\PageController
        calls:
            - [ setContainer, [@service_container] ]

    #CMS Block service
    presta_cms.block.base:
        abstract:  true
        arguments: [cms_core_editor, @templating]
        calls:
            - [ setTranslator, [ @translator ] ]
    presta_cms.block.simple:
        class: Presta\CMSCoreBundle\Block\SimpleBlockService
        parent: presta_cms.block.base
        tags:
            - {name: sonata.block}
            - {name: presta_cms.block}
        calls:
            - [ setContainer, [@service_container] ]
    presta_cms.block.page_children:
        class: Presta\CMSCoreBundle\Block\PageChildrenBlockService
        parent: presta_cms.block.base
        tags:
            - {name: sonata.block}
            - {name: presta_cms.block}
        calls:
            - [ setPageManager, [ @presta_cms.page_manager ] ]
    presta_cms.block.sitemap:
        class: Presta\CMSCoreBundle\Block\SitemapBlockService
        parent: presta_cms.block.base
        tags:
            - {name: sonata.block}
            - {name: presta_cms.block}
        calls:
            - [ setContainer, [@service_container] ]
    presta_cms.block.container:
        class: Presta\CMSCoreBundle\Block\ContainerBlockService
        parent: presta_cms.block.base
        tags:
            - {name: sonata.block}
            - {name: presta_cms.block}

    #Block service
    presta_cms.block.dashboard.cms:
      class: Presta\CMSCoreBundle\Block\Dashboard\CmsBlockService
      tags:
        - {name: sonata.block}
      arguments: [presta_cms.block.dashboard.cms, @templating, @sonata.admin.pool]
    presta_cms.block.website.selector:
      class: Presta\CMSCoreBundle\Block\WebsiteSelectorService
      tags:
        - {name: sonata.block}
      arguments: [presta_cms.block.website.selector, @templating, @presta_cms.website_manager]

    #Manager
    presta_cms.website_manager:
        class: Presta\CMSCoreBundle\Model\WebsiteManager
        arguments: []
        calls:
            - [ setModelManager, [ @sonata.admin.manager.doctrine_phpcr ] ]
            - [ setRouteProvider, [ @cmf_routing.route_provider ] ]
            - [ setRouteListener, [ @cmf_routing.phpcrodm_route_idprefix_listener ] ]
            - [ setMenuProvider, [ @cmf_menu.provider]]
    presta_cms.theme_manager:
        class: Presta\CMSCoreBundle\Model\ThemeManager
        arguments: []
        calls:
            - [ setModelManager, [ @sonata.admin.manager.doctrine_phpcr ] ]
    presta_cms.page_manager:
        class: Presta\CMSCoreBundle\Model\PageManager
        arguments: [@service_container]

    presta_cms.route_manager:
        class: Presta\CMSCoreBundle\Model\RouteManager
        arguments: []
        calls:
            - [ setModelManager, [ @sonata.admin.manager.doctrine_phpcr ] ]
            - [ setRouteProvider, [@cmf_routing.route_provider] ]

    presta_cms.block_manager:
        class: Presta\CMSCoreBundle\Model\BlockManager

    presta_cms.menu_manager:
        class: Presta\CMSCoreBundle\Model\MenuManager
        arguments: [@sonata.admin.manager.doctrine_phpcr]

    #Page Types
    presta_cms.page_type.cms_page:
        class: Presta\CMSCoreBundle\Model\Page\PageTypeCMSPage
        arguments: [@service_container, @presta_cms.website_manager, @presta_cms.theme_manager]
        tags:
            - {name: presta_cms.page_type}
    #Event Listener
    presta_cms.listener.website:
        class: Presta\CMSCoreBundle\EventListener\WebsiteListener
        arguments: [@presta_cms.website_manager, @kernel, @session]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 500 }

    presta_cms.listener.action_listener:
        class: Presta\CMSCoreBundle\EventListener\PageOperationListener
        arguments: [@sonata.admin.manager.doctrine_phpcr, @presta_cms.route_manager, @presta_cms.menu_manager]
        tags:
            - { name: kernel.event_listener, event: presta_cms.page.creation, method: onPageCreation }
            - { name: kernel.event_listener, event: presta_cms.page.update,   method: onPageUpdate }
            - { name: kernel.event_listener, event: presta_cms.page.deletion, method: onPageDeletion }

    presta_cms_tree_browser.page_tree:
        class: Presta\CMSCoreBundle\Tree\PageTree
        parent: cmf_tree_browser.phpcr_tree
        tags:
            - { name: cmf.tree, alias: presta_cms_page_tree }
        arguments:
            - @doctrine_phpcr
            - #empty parameter

    presta_cms.sonata.admin.doctrine_phpcr.form.type.tree_model:
        class: Presta\CMSCoreBundle\Form\Type\PageTreeModelType
        tags:
            - { name: form.type, alias: presta_cms_doctrine_phpcr_odm_page_tree }
        calls:
            - [ setDefaults, [ %sonata_admin_doctrine_phpcr.tree_block.defaults% ] ]
            - [ setTree, [ @presta_cms_tree_browser.page_tree ] ]
