phpunit.xml
Tests/Functional/config/parameters.yml
build/
vendor
composer.phar
Tests/Resources/app/cache
Tests/Resources/app/logs
node_modules

.idea/*
app.sqlite
php-cs-fixer.phar
/nbproject/private/
