
/* Website selector */
.sonata-bc .sidebar #website-selector {

    a.brand {
        font-size: 15px;
        text-transform: capitalize;
        padding-right: 20px;
    }

    #website-locale {
        float: right;
        margin: 0px;
    }

    .navbar-inner {
        padding-left: 7px;
        padding-right: 7px;
        min-height: 40px;
    }
}
