{#
  @package    PrestaCMS
  @subpackage CoreBundle
  @author     Nicolas Bastien <nbastien@prestaconcept.net>

  Dashboard CMS management block
#}

{% extends 'PrestaSonataAdminExtendedBundle:Block/Dashboard:block_base.html.twig' %}

{% block block_title %} CMS {% endblock %}

{% block block_content %}
<div class="span4">
    <div class="block-content-block block-content-block-website">
        <h4>{%- trans from 'PrestaCMSCoreBundle' %}dashboard.block.website.title{% endtrans -%}</h4>
        {#<a href="{{ websiteAdmin.generateUrl('create')}}" class="link link-add">#}
            {#{%- trans from 'SonataAdminBundle' %}link_add{% endtrans -%}#}
        {#</a>#}
        <a href="{{ websiteAdmin.generateUrl('list')}}" class="btn btn-small">
            <i class="icon-list"></i>&nbsp;
            {%- trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
        </a>
    </div>
</div>
<div class="span4">
    <div class="block-content-block block-content-block-theme">
        <h4>{%- trans from 'PrestaCMSCoreBundle' %}dashboard.block.theme.title{% endtrans -%}</h4>
        <a href="{{ path('presta_cms_theme') }}" class="btn btn-small">
            <i class="icon-list"></i>&nbsp;
            {%- trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
        </a>
    </div>
</div>
<div class="span4">
    <div class="block-content-block block-content-block-page">
        <h4>{%- trans from 'PrestaCMSCoreBundle' %}dashboard.block.page.title{% endtrans -%}</h4>
        <a href="{{ path('presta_cms_page_edit') }}" class="btn btn-small">
            <i class="icon-list"></i>&nbsp;
            {%- trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
        </a>
    </div>
</div>
{% endblock %}
