{#

This file is part of the Presta Bundle project.

@author Nicolas Bastien <nbastien@prestaconcept.net>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
<div id="cms-block-{{ block.id }}" class="cms-block {{ block.type|replace({'.': '_'}) }}">
    {% block block %}EMPTY CONTENT{% endblock %}
</div>
