{#

This file is part of the Presta Bundle project.

@author Nicolas Bastien nbastien@prestaconcept.net

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

    {#
        basic for admin : todo front ?
    #}
{% block block %}
    <table class="table">
    {% for key, setting in settings %}
        <tr>
            <th>{{ ['block.label.', key]|join|trans }}</th>
            <td>{{ setting|raw }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}