{#

This file is part of the Presta Bundle project.

@author Nicolas Bastien <nbastien@prestaconcept.net>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

{% block block %}
    <h2>{{ settings.title }}</h2>
    <div class="content">
        {{ settings.content|raw }}
    </div>
    {% if ((settings.link_label|length) and (settings.link_destination|length)) %}
    <div class="link">
        <a href="{{ path(settings.link_destination) }}">{{ settings.link_label }}</a>
    </div>
    {% endif %}
{% endblock %}
