{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

{% block block %}
    {% set url = '' %}
    {% if settings.route != '' %}
        {% set url = url(settings.route) %}
    {% endif %}
    <div class="content-ajax" data-route="{{ url }}" >
        Content by default.
    </div>
{% endblock %}

