{% extends 'PrestaCMSCoreBundle:Block:base_block.html.twig' %}

{% block block %}
    {% if settings.route %}
        <div class="content-ajax" data-route="{{ url(settings.route) }}" ></div>
    {% endif %}
{% endblock %}

