{#
  @package    PrestaCMS
  @subpackage CoreBundle
  @author     Nicolas Bastien nbastien@prestaconcept.net
  
  Website Selector block
  To work main view has to define a javascript variable : 'website_selector_url'
#}
{% if (settings.with_fieldset) %}
<fieldset class="website-selector">
    <legend>Website</legend>
{% endif %}
    <div class="control-group">
        <label class="control-label" for="website_selector">Website</label>
        <div class="controls">
            <select id="website_selector" name="website_selector" required="required" class="sonata-medium"
                onchange="return switchWebsite();">
                <option></option>
                {% for website in websites %}
                <optgroup label="{{ website.name }}">
                    {% for locale in website.availableLocales %}
                        <option value="/{{ website.id }}/{{ locale }}" {% if (settings.website_id == website.id and settings.locale == locale) %} selected {% endif %}>{{ locale|trans() }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}                
            </select>
        </div>
    </div>
{% if (settings.with_fieldset) %}
</fieldset>
{% endif %}
<script>
    function switchWebsite() {
        if ($('#website_selector').val() == '') {
            return;
        }
        window.location.href = website_selector_url + $('#website_selector').val();
    }
</script>