<div class="row">
    <div class="span4">
        {{ prestacms.render_container_block(containerId ~ '/col1', isAdminMode) }}
    </div>
    <div class="span8">
        {{ prestacms.render_container_block(containerId ~ '/col2', isAdminMode) }}
    </div>
</div>
