<div class="row">
    <div class="span6">
        {{ prestacms.render_container_block(container, 'col1', isAdminMode) }}
    </div>
    <div class="span6">
        {{ prestacms.render_container_block(container, 'col2', isAdminMode) }}
    </div>
</div>
