<div class="row">
    <div class="span6">
        {{ prestacms.render_container_block(containerId ~ 'col1', isAdminMode) }}
    </div>
    <div class="span6">
        {{ prestacms.render_container_block(containerId ~ 'col2', isAdminMode) }}
    </div>
</div>