<div class="row-fluid">
    <div class="span8">
        {{ prestacms.render_container_block(container, 'col1', isAdminMode) }}
    </div>
    <div class="span4">
        {{ prestacms.render_container_block(container, 'col2', isAdminMode) }}
    </div>
</div>
