<div class="row-fluid">
    <div class="span3">
        {{ prestacms.render_container_block(container, 'col1', isAdminMode) }}
    </div>
    <div class="span3">
        {{ prestacms.render_container_block(container, 'col2', isAdminMode) }}
    </div>
    <div class="span3">
        {{ prestacms.render_container_block(container, 'col3', isAdminMode) }}
    </div>
    <div class="span3">
        {{ prestacms.render_container_block(container, 'col4', isAdminMode) }}
    </div>
</div>
