
body {
    background: #f9f9f9;
}
#header-top-container {
    background: #925380;
    padding: 5px;
    color: #FFF;
    font-weight: bold;
}
#header {
}
#header-logo {
    background: url('../../prestasonataadmin/img/layout/prestaconcept-logo.jpg') no-repeat 0 0 transparent;
    height: 106px;
    width: 322px;
    margin: 25px;
}

#breadcrumb-container {
    border: 5px solid #7a7c01;
    background: #999a00;
    padding: 15px 0px;
    margin-bottom: 15px;
}
#footer-top-container {
    border-top: 1px #a9abaa solid;
    background: #FFF;
    height: 75px;
}
#footer-container {
    background: #925380;
    min-height: 100px;
    padding: 15px 0px;
}
#page-container {
    min-height: 400px;
}

#zone-top-left {
    padding: 10px 25px;
    color: #925380;
}
#zone-footer-left, #zone-footer-right {
    color: #f9f9f9;  
}