

<div class="page-zone-block">
    <h4>{{ ['block.title.', block.type]|join|trans([], 'PrestaCMSCoreBundle') }}</h4>
    <div class="block-actions">
        {% if (block.isEditable) %}
            <a block-id="{{ block.id }}" class="action-edit">&nbsp;</a>
        {% endif %}
        {% if (block.isDeletable) %}
            <a href="#" class="action-delete">&nbsp;</a>
        {% endif %}
    </div>
    <div id="block-content-{{ block.htmlId }}" class="block-content">
        {{ sonata_block_render(block) }}
    </div>
</div>