<div id="block-content-{{ block.htmlId }}" class="cms-container-block">
    <a class="btn sonata-action-element action-container-add" block-id="{{ block.id }}">
        <i class="icon-plus"></i>
    </a>
</div>