
<div class="">
    <div class="">
        <fieldset>
            <legend>{{ 'cms_page.content.title'|trans({}, 'PrestaCMSCoreBundle') }}</legend>
            <div class="control-group">
                {% set zones = page.zones %}
                {% set cols  = 12 %}
                {% include 'PrestaCMSCoreBundle:Admin/Block:_content.html.twig' with {'origin': 'page'}  %}
        </fieldset>
    </div>
</div>
