
<div class="">
    <div class="">
        <fieldset>
            <div class="offset1 span10">
                <div id="content_error" class="alert alert-error hide">
                    {{ 'flash_edit_error'|trans([], 'SonataAdminBundle') }}
                </div>
            </div>
            <div class="control-group">
                {% set zones = page.zones %}
                {% set cols  = 12 %}
                {% include 'PrestaCMSCoreBundle:Admin/Block:_content.html.twig' with {'origin': 'page'}  %}
        </fieldset>
    </div>
</div>
