{#
/**
 * This file is part of the Presta Bundle project.
 *
 * (c) Nicolas Bastien <nbastien@prestaconcept.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/**
 * Tab content for page edition
 */
#}
<div class="">
    <div class="">
        <fieldset>
            <legend>{{ 'cms_page.content.title'|trans({}, 'PrestaCMSCoreBundle') }}</legend>
            <div class="control-group">
                {% set zones = template.zones %}
                {% set cols  = 12 %}
                {% include 'PrestaCMSCoreBundle:Admin/Block:_content.html.twig' %}
        </fieldset>
    </div>
</div>